.venv
.vscode
logs

__pycache__
/*/__pycache__
/**/__pycache__

.ipynb_checkpoints
/*/.ipynb_checkpoints
/**/.ipynb_checkpoints

kafka_producer/.kafka_producer_venv
kafka_consumer/.kafka_consumer_venv